PORT = Choose your PORT here
MONGODB_CREDENTIALS = Insert your MongoDB connexion string here
CLIENT_URL = Choose your client URL here
ADMIN_ID = After having created your account on Groupomania, you can insert your ID here to upgrade it to an admin account
