#newpost--send, #newpost--cancel {
  background-color: $color-3;
  color: $color-2;
  &:hover {
    color: $color-1;
    background-color: white;
  }
}
#newpost--cancel {
  margin-right: 10px;
}

#admin {
  text-align: center;
}

.post-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto 0;
  padding: 16px 40px;
  border-radius: 20px;
  position: relative;
  background: $color-2;

  i {
    font-size: 1.5rem;
    margin: 20px 0;
    color: $color-3;
  }

  .data {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 42px;
    text-align: right;
    width: 90%;
    p {
      align-content: right;
      align-self: right;
      z-index: 1;
    }

    @media screen and(max-width: 420px) {
      right: 10px;
    }
    @media screen and(max-width: 380px) {
      display: none;
    }

    span {
      font-weight: bold;
    }
  }

  .user-info {
    display: flex;
    margin-bottom: 10px;
    margin-top: -20px;
    width: 100%;
    justify-content: center;
    img {
      border-radius: 20px;
      height: 80px;
      width: 80px;
      box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.16);
      object-fit: cover;
      align-self: center;
      transform: scale(1);
      transition: all 400ms;
      &:hover {
        transform: scale(1.1);
      }
    }
    h3 {
      color: $black;
    }
  }
  .post-form {
    width: 100%;
    position: relative;
    margin: 0 auto 0;

    textarea {
      height: 62px;
      width: 100%;
      font-size: 1.1rem;
      color: $color-3;
      padding: 12px 15px;
      border-radius: 20px 20px 6px 20px;
    }
    .card-container {
      background: $white;
      border-radius: 20px 20px 6px 20px;

      .card-left {
        text-align: left;
        img {
          @media screen and(max-width: 590px) {
            margin-left: 0;
          }
        }
      }
      .card-right {
        @media screen and(max-width: 590px) {
          margin-left: 0;
        }
        .card-header {
          @media screen and(max-width: 632px) {
            flex-direction: column;
          }
          @media screen and(max-width: 590px) {
            margin: 0;
          }
          .pseudo {
            @media screen and(max-width: 440px) {
              transform: translateY(-8px);
            }
          }
          span {
            @media screen and(max-width: 632px) {
              position: absolute;
              top: 40px;
            }
            @media screen and(max-width: 590px) {
              left: 68px;
            }
            @media screen and(max-width: 440px) {
              left: 14px;
              top: 60px;
            }
          }
        }
        .content {
          padding: 6px 0;
          p {
            text-align: left;
            margin: 2px 0 6px;
            font-size: 1.1rem;
          }
          img {
            width: 100%;
            border-radius: 6px;
            margin-top: 12px;
          }
          @media screen and(max-width: 632px) {
            margin-top: 20px;
          }
        }
      }
    }

    .footer-form {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;
      #buttons {
        position: absolute;
        right: 0;
        }

      img {
          position: absolute;
          height: 24px;
          width: 24px;
          margin-right: 100px;
        }

        #loaded {
          color: green;
          font-style: italic;
          font-weight: normal;
          font-size: 0.9em;
        }

      .icon {
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 20px;

        button {
          width: 190px;
          padding: 10px 20px;
          background: $white;
          transition: 0.2s;

          &:hover {
            background: $color-1;
          }
        }

        
      }
            #file-upload {
              height: 50px;
              position: absolute;
              left: 0;
              opacity: 0;
              cursor: pointer;
      
              &::-webkit-file-upload-button {
                cursor: pointer;
              }
            }
      p {
        margin-top: 4px;
        color: red;
      }
      .btn-send {
        .cancel {
          border-radius: 20px;
          margin-right: 8px;
          background: $white;

          &:hover {
            color: $color-2;
            background: $color-3;
          }
        }
        .send {
          &:hover {
            letter-spacing: 2px;
          }
        }
        button {
          @media screen and(max-width: 460px) {
            font-size: 0.8rem;
            padding: 8px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 520px) {
  .post-form textarea {
    margin-left: 5%;
  }
}
@media all and (max-width: 418px) {
.post-form textarea {
    width: 75%;
    margin-left: 0;
  }
}